@using MediaLibrary.DAL.Entities
@model ICollection<Media>

@{
    ViewBag.Title = "My medias list";
    var medias = Model;
}
@section Styles{
    <style>
        .card{
            box-shadow : none;
        }
    </style>
}
<div class="jumbotron">
    <h1>My medias</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @foreach (var media in medias)
        {
        <div class="row card mb-1">
            <div class="col-md-12 card-body">
                <div class="row d-flex align-items-center">
                    <div class="col-md-3">
                        <p><i class="far fa-copy mr-2"></i>Name : @media.Name</p>
                    </div>
                    <div class="col-md-3">
                        <p><i class="far fa-copy mr-2"></i>Path : @media.Path</p>
                    </div>
                    <div class="col-md-3">
                        <p>Type : @media.Type.ToString()</p>
                    </div>
                    <div class="col-md-3">
                        <p><i class="fas fa-link mr-2"></i>Placement : @media.Url</p>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>    
</div>